<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello World Thymeleaf!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>demo Thymeleaf file </h1>
    <!-- 
  	<p>Result in a span <span th:text="${result}">default value</span></p>
  	<p>Result2 in a span <span th:text="${result2}">xxx</span></p>
     -->
  	<div th:fragment="fragment" style="border:1px solid red;">
<h2>DEMO </h2>
<h3 th:text="${action.name}">${action.name}</h3>
</div>
	<div>
	<h3>ActionInfo values :</h3>
	<table border="1">
	  <tr> <td>action.name        &nbsp; </td> <td><span th:text="${action.name}"></span></td> </tr>
	  <tr> <td>action.method      &nbsp; </td> <td><span th:text="${action.method}"></span></td> </tr>
	  <tr> <td>action.requestURI  &nbsp; </td> <td><span th:text="${action.requestURI}"></span></td> </tr>
	  <tr> <td>action.requestURL  &nbsp; </td> <td><span th:text="${action.requestURL}"></span></td> </tr>
	  
	  <tr> <td>action.controllerClass   &nbsp; </td> <td><span th:text="${action.controllerClass}"></span></td> </tr>
	  <tr> <td>action.controllerMethod  &nbsp; </td> <td><span th:text="${action.controllerMethod}"></span></td> </tr>
	  <tr> <td>action.controllerResult  &nbsp; </td> <td><span th:text="${action.controllerResult}"></span></td> </tr>
	  
	  <tr> <td>action.viewName  &nbsp; </td> <td><span th:text="${action.viewName}"></span></td> </tr>
	  <tr> <td>action.viewPath  &nbsp; </td> <td><span th:text="${action.viewPath}"></span></td> </tr>
	</table>
	</div>

  </body>
</html>