<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello World Thymeleaf!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>demo Thymeleaf file </h1>
    <!-- 
  	<p>Result in a span <span th:text="${result}">default value</span></p>
  	<p>Result2 in a span <span th:text="${result2}">xxx</span></p>
     -->
  	<div th:fragment="fragment" style="border:1px solid red;">
<h2>DEMO </h2>
<h3 th:text="${action.name}">${action.name}</h3>
</div>

  </body>
</html>