<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello World Thymeleaf!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>index Thymeleaf file </h1>
  	<!-- Message from "test1_xx.properties" -->
    <p th:text="#{hello}">Hello World default message!</p>
    <p th:text="${firstName}">firstName</p>
    <p th:text="${lastName}">lastName</p>
  </body>
</html>